/*top.js*/
.dp2 {
    display: none;
    position: absolute;
    z-index: 1;
}

.dp1:hover .dp2 {
    display: block;
}

/*app.js*/
img{
    max-width: 100%;
    max-height: 100%;
}
.bg-image{
    background-image:url("img/main_visual_02.jpg");
}
.main-hansot{
    opacity: 0.9;
}